@import "bootstrap/bootstrap.less";

html, body {
  	margin: 0;
  	padding: 0;
  	width: 100%;
  	height: 100%;
  	min-width: 100%;
  	min-height: 100%;
}

body {
	background: #fff url(../img/header.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	.transition(background .7s);
}

@media (min-width: @grid-float-breakpoint) {
    body {
    	&.home.hover, &.home-current {
    		background-image: url(../img/header.jpg);
    	}
    	&.beer.hover, &.beer-current {
    		background-image: url(../img/glasses.jpg);
    	}
    	&.music.hover, &.music-current {
    		background-image: url(../img/music.jpg);
    	}
    	&.map.hover, &.map-current {
    		background-image: url(../img/bikes.jpg);
    	}
    	&.tickets.hover, &.tickets-current {
    		background-image: url(../img/people.jpg);
    	}
    }

    #preload1 {
    	background-image: url(../img/glasses.jpg);
    	width: 0;
    	height: 0;
    }
    #preload2 {
    	background-image: url(../img/music.jpg);
    	width: 0;
    	height: 0;
    }
    #preload3 {
    	background-image: url(../img/bikes.jpg);
    	width: 0;
    	height: 0;
    }
    #preload4 {
    	background-image: url(../img/people.jpg);
    	width: 0;
    	height: 0;
    }

    .header {
    	height: 400px;
    	.mobile-header {
        	display: none;
    	}
    }
    
    .tab {
    	margin: -130px 0 0 -40px;
    	float: left;
    	background: #fff;
    	padding: 0 @padding-large-horizontal 10px;
    	h1, h2 {
    		padding: 0;
    		margin: 0;
    	}
    }
    
    #footer {
    	margin-top: 64px;
    }
    
    #actions {
        .btn-block {
            margin-bottom: 0;
        }
    }
}

@media (max-width: @grid-float-breakpoint) {
    .ticketsDesktop {
        display: none;
    }
}

.header {
	#main-nav {
		background: #fff;
		margin-bottom: 0;
	}
	#logo {
    	height: 34px;
    	width: auto;
    	margin: @padding-base-vertical @padding-large-horizontal;
	}
	.mobile-header {
    	margin: 0;
    	padding: 0;
    	border: 0px none;
    	width: 100%;
    	height: auto;
	}
}

#actions {
    .btn-block {
        margin-bottom: @padding-large-vertical;
        .glyphicon {
            padding-right: @padding-small-horizontal;
        }
    }
}

.tab {
    padding-bottom: 10px;
}

.container {
	background: #fff;
	max-width: 700px;
	padding: 20px 40px 40px;
}

.img-circle {
	border-width: 1px;
	border-color: @gray-light;
	border-style: solid;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		margin: @padding-large-vertical 0 0;
		padding: 0;
	}
	span {
		margin: 0 0 0 @padding-small-horizontal;
		padding: 0;
		color: @gray-dark;
		font-size: @font-size-small;
	}
}

#map-full-icon{
  position: absolute;
  top: 80px;
  right: 30px;  
  height: 40px;
  width: 40px;
  background-image: url(../img/4-arrow_transparent.png); 
}

#map-full-icon:hover{
  background-image: url(../img/4-arrow_white.png);
}

#footer {
	.container {
		padding: 12px 20px;
	}
	h5 {
      	margin: 0 0 2px 0;
      	padding: 0 0 4px 0;
	}
}


/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 50px auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}